<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="../styles.css">
	<meta charset="UTF-8">
	<title>Profile Page</title>
	<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body class="body1">
	<div class="header">
		<div class="grid-container2">
			<a href="index.html"><img src="../images/FH-logo.png" alt="Facile Hire" height="100px"></a>
				<ul>
					<li><a href="../index.html">Sign Out</a></li>
					<li><a href="profile.html" class="active">Profile</a></li>
					<li><a href="resumes.html">Resumes</a></li>
					<li><a href="candiates.html">Candidates</a></li>
					<li><a href="jobs.html">Jobs</a></li>
					<li><a href="dashboard.html">Dashboard</a></li>
				</ul>
		</div>
	</div>
	<div class="content2">
		Hello
	</div>
</body>
</html>	