{% load static %}
<!doctype html>
<html>
<head>
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
	<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
	rel="stylesheet"
	/>
	<!-- Google Fonts -->
	<link
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
	rel="stylesheet"
	/>
	<!-- MDB -->
	<link
	href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css"
	rel="stylesheet"
	/>
	<link rel="stylesheet" href="{% static 'hire/styles.css' %}">
	<meta charset="UTF-8">
	<title>Resumes Page</title>
	<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body class="body1">
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		<!-- Navbar content -->
		<a href="http://localhost:8000/"><img src="{% static 'hire/images/FH-logo.png' %}" alt="Facile Hire"
				height="50px" style="margin-left: 15px;"></a>
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a class="nav-link" href="/recruiter_dashboard/" style="background-color: unset">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/recruiter_jobs/" style="background-color: unset">Jobs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/recruiter_candidates/" style="background-color: unset">Candidates</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/recruiter_resumes/" style="background-color: unset">Upload Resumes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/recruiter_profile/">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="http://localhost:8000/" style="background-color: unset">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						class="bi bi-box-arrow-left" viewBox="0 0 16 16">
						<path fill-rule="evenodd"
							d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
						<path fill-rule="evenodd"
							d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
					</svg>
					Logout
				</a>
			</li>
		</ul>
	</nav>
	<section class="section about-section gray-bg" id="about">
		<div class="container">
			<div class="shadow p-3 mb-5 bg-white rounded">
			<div class="row align-items-center flex-row-reverse">
				<div class="col-lg-6">
					<div class="about-text go-to">
						<h3 class="dark-color">About Me</h3>
						<h6 class="theme-color lead">A Lead UX &amp; UI designer based in Canada</h6>
						<!-- <p>I <mark>design and develop</mark> services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores. My passion is to design digital user experiences through the bold interface and meaningful interactions.</p> -->
						<div class="row about-list">
							<div class="col-md-6">
								<div class="media">
									<label>Birthday</label>
									<p>4th april 1998</p>
								</div>
								<div class="media">
									<label>Age</label>
									<p>22 Yr</p>
								</div>
								<div class="media">
									<label>Residence</label>
									<p>Canada</p>
								</div>
								<div class="media">
									<label>Address</label>
									<p>California, USA</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="media">
									<label>E-mail</label>
									<p>info@domain.com</p>
								</div>
								<div class="media">
									<label>Phone</label>
									<p>820-885-3321</p>
								</div>
								<div class="media">
									<label>Skype</label>
									<p>skype.0404</p>
								</div>
								<div class="media">
									<label>Freelance</label>
									<p>Available</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about-avatar">
						<img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
					</div>
				</div>
			</div>
			<!-- <div class="counter">
				<div class="row">
					<div class="col-6 col-lg-3">
						<div class="count-data text-center">
							<h6 class="count h2" data-to="500" data-speed="500">500</h6>
							<p class="m-0px font-w-600">Happy Clients</p>
						</div>
					</div>
					<div class="col-6 col-lg-3">
						<div class="count-data text-center">
							<h6 class="count h2" data-to="150" data-speed="150">150</h6>
							<p class="m-0px font-w-600">Project Completed</p>
						</div>
					</div>
					<div class="col-6 col-lg-3">
						<div class="count-data text-center">
							<h6 class="count h2" data-to="850" data-speed="850">850</h6>
							<p class="m-0px font-w-600">Photo Capture</p>
						</div>
					</div>
					<div class="col-6 col-lg-3">
						<div class="count-data text-center">
							<h6 class="count h2" data-to="190" data-speed="190">190</h6>
							<p class="m-0px font-w-600">Telephonic Talk</p>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	</section>
</body>
</html>	